$prime-color: rgb(62, 129, 79);
$to-white:rgb(0, 255, 242);

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
}
header{
    width: 100%;
    margin: 0px auto;
    position: relative;
}
header > img{
    width: 100%;
}

#head{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
}
.in-head-table{
    width: 100%;
    height: 100%;
    display: table;
    
}
.in-head-cell{
    display: table-cell;
    vertical-align: middle;
    h1{
        font-size: 1.4em;
        color: $to-white;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 20px;
        
    }
    button{
        background-color: rgb(19, 92, 175);
        color: $to-white;
        border: 1px solid rgb(19, 92, 175);
        border-radius: 20px;
        padding: 10px 25px;
        letter-spacing: 2px;
    }
}
main{
    width: 95%;
    margin: 0px auto;
}
#logo{
    font-size: 2em;
    margin: 50px 0px 20px 0px;
    text-align: center;
    color: rgb(97, 89, 89);
    span{
        border-top: 3px solid rgb(97, 89, 89);
        border-left: 3px solid rgb(97, 89, 89);
        border-bottom: 3px solid rgb(97, 89, 89);
        color: $prime-color;
        padding-left: 10px;
    }
}

nav{
    background-color: rgb(88, 157, 248);
    color: $to-white;
    text-align: center;
    li{
        padding: 20px;
        font-weight: 700; 
        :hover{
            background-color: rgb(121, 169, 233);   
        }   
    }
}


@media (min-width:768px){
    nav li:hover{
        border: 1px solid $to-white; 
        background-color: transparent;  
    }
    
}

.no-bullet {
    list-style-type: none;
    
}


.title {
    font-size: 2em;
    text-align: center;
    padding-top: 70px;
}
.about-us{
    width: 90%;
    margin: 0px auto;
    padding-top: 20px;
}
.title-img {
    display: block;
    width: 200px;
    margin: 0px auto;
}
.about-us h3{
    color: rgb(88, 157, 248);
    margin-bottom: 30px;
}
.about-us p{
    line-height: 1.7em;
    margin-bottom: 30px;
    font-weight: 550;
}
.building {
    width: 100%;
}
.about-us ul{
    line-height: 2em;
    list-style-image: url('image/download.png');
    font-size: 1.03em;    
    list-style-position: inside;
    margin: 20px;
}
.all-people{
    width: 90%;
    margin: 0px auto; 
}
.people{
    background-color: rgb(88, 157, 248);
    color: $to-white;
    margin: 20px; 
    padding: 15px;  
    line-height:  1.7em;
    border-radius: 2px;
}

.user-img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid $to-white;
    padding: 3px;    
}
.user-img {
    padding-top: 30px;
    float: left;
}
.people h4{
    color: black;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight:750;
}
.stars{
    float: left;
    padding: 50px 0px 10px  20px;
}
/* .stars img{
    display: block;
    float: left;
} */
.people p{
    clear:both;
    line-height: 1.7em;
}
.main-footer{
    width: 100%;
    margin: 0px auto;
}
.contact{
    color: $to-white;
    margin: 0px;
    text-align: center;
    padding: 30px;
}
.contact h2{
    padding: 10px;
}
.con-1{
    background-color: rgb(50, 219, 154);
}
.con-2{
    background-color: rgb(231, 65, 121);
}
.con-3{
    background-color: rgb(60, 70, 207);
}
.con-4{
    background-image: url('image/home.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
    background-position: center;


}
.con-4 img{
    width: 100%;
}
.contact i {
    padding: 10px;
}
form{
    width: 80%;
    margin: 0px auto;
}

input{
    display: block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.btn{
 background-color: $prime-color;
 color: $to-white;
 border: 1px solid $prime-color;
 border-radius: 5px; 
 width: 150px;  
 margin-top: 40px;
 padding: 10px 20px;
margin-left: 0px;
}
footer{
    color: $to-white;
    background-color: rgb(43, 40, 40);
    padding: 80px 40px 40px 40px;
    text-align: center;
    margin-top: 50px;
}
footer ul li{
    display: inline-block;
    padding: 5px;
}
footer p{
    padding:20px;
}

.btn :hover{
    background-color: $prime-color;
}
@media (min-width:768px){
    header{
        position: relative;
    }
    #logo span{
        border-top: 3px solid $to-white;
        border-left: 3px solid $to-white;
        border-bottom: 3px solid $to-white;
    }
    #logo{
        color: $to-white;  
        position: absolute;
        top: 0px;
        left: 30px;      
    }
    nav {
        position: absolute;
        top: 40px;
        right: 10px;
        background-color: transparent;
    }
    nav li{
        display: inline-block;
        background-color: transparent;        
    }
    .who-are-we-tablet{
        float: left;
        width: 50%;
        vertical-align: top;
        margin: 0px;
    }
    
    .building {
        width: 50%;   
    }
    .who-are-we-tablet ul{
        margin: 0px;
    }
    .all-people{
        width: 100%;
       
    }
    .people{
        width: 40%;
        float: left;
    }
    
    
    .all-people::after{
        content: "";
        display: block;
        clear: both;
        
    }
    .contact-box{
        width: 100%;
        margin: 0px;
    }
    .box{
        width: 40%;
        height: 170px;
        float: left;
    }
    .main-footer{
        width: 100%;
        margin: 0px auto;
    }
    input{
        display: inline;
        box-sizing: border-box;
        width: 32%;
        margin-left: 6px;
        
    }
    #phone{
        margin-left: 0px;
    }
}

@media (min-width:1024px) {
    .in-head-cell> h1{
        font-size: 3em;
    }
    .building{
        width: 30%;
        min-height:400px;
        display: block;
        float: left;
    }
    .one-third-desktop{
        width: 30%;
        float: left;
        padding-left:10px; 
    }
    .who-are-we-tablet{
        width: 30%;
        float: left;
    }
    .desktop-view{
        content: "";
        clear: both;
        display: block;
    }
    .people-say{
        clear: both;
    }
    .all-people{
        width: 100%;
        margin: 0px auto;
    }
    .people{
        width: 30%;
        box-sizing: border-box;
        margin: 5px;
        float: left;
    }
    .box{
        width: 25%;
        box-sizing: border-box;

    }
}